<div id="navigation" class="card border-0 shadow">
  <div class="card-body">
      <ul class="custom-nav">
        <li>
          <a href="#">
            <i class="icon-Database"></i>
            Cadastro
          </a>
        </li>
        <li>
          <a href="#">
              <i class="icon-ShoppingBag"></i>
              Compras
          </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-Inventory"></i>
                Vendas
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-Finance"></i>
                Financeiro
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-Package"></i>
                Estoque
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-ToolsPower"></i>
                Ferramentas
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-LocalShipping"></i>
                Frotas
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon-FolderShared"></i>
                Recursos Humanos
            </a>
        </li>
        <li>
            <a href="">
                <i class="icon-PrecisionManufacturing"></i>
                Fabricação
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-Construction"></i>
                Serviços
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-EventAvailable"></i>
                Projetos
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-Shield"></i>
                Qualidade
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-InsertChart"></i>
                Relatórios (BI)
            </a>
        </li>
      </ul>
  </div>
</div>