{% extends "global/base.html" %}

{% block buttons %}
<button class="btn btn-light btn-sm bg-white border m-1">
  <i class="icon-ArrowBack"></i>
</button>
<button class="btn btn-light btn-sm bg-white border m-1">
  <i class="icon-ArrowForward"></i>
</button>
<button class="btn btn-light btn-sm bg-white border m-1">
  <i class="icon-Print"></i>
</button>
<button class="btn btn-light btn-sm bg-white border m-1">
  <i class="icon-MoreVert"></i>
</button>
<button class="btn btn-danger btn-sm m-1">
  <i class="icon-Delete"></i>
</button>
<button class="btn btn-primary btn-sm m-1">
  <i class="icon-Save"></i>
</button>
{% endblock buttons %}

{% block content %}
<div class="row">
  <div class="col-sm-4">
    <div class="card border border-0 shadow">
      <div class="card-body">
        <i class="icon-Package mt-2 mr-2" style="font-size: 16px;"></i>
        <h5><strong>Unidade de Medida</strong></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border border-0 shadow">
      <div class="card-body">
        <i class="icon-Package mt-2 mr-2" style="font-size: 16px;"></i>
        <h5><strong>Unidade de Medida</strong></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border border-0 shadow">
      <div class="card-header bg-light border-0">
        <i class="icon-Package mt-2 mr-2" style="font-size: 30px;"></i>
      </div>
      <div class="card-body">
        <h6><strong><a style="color: #444;" href="{% url "list_uom" %}">Unidade de Medida</a></strong></h6>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block page_name %}
<i class="icon-Database mt-2 mr-2" style="font-size: 30px;"></i>
<h5 class="mt-2"><strong>{{ page_name }}</strong></h5>
{% endblock page_name %}